@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  background: var(--bg);
  color: var(--text);
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: text;
  user-select: text;
} 

* {
  box-sizing: border-box;
}

html,
body,
#root {
  max-width: 100%;
  overflow-x: hidden;
}